[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
greengrasssdk = "*"
bme680 = {git = "https://github.com/rayjanwilson/bme680-python.git",ref = "dev"}
